*{
    color: #FFFFFF;    
    text-shadow: 3px 2px 3px rgba(0,0,0,0.4);
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-image: url("img/bg2.jpeg");
    background-size: cover;
}

.nickname-input-cls{
    color: #FFFFFF;  
    display: block;
    width: 50%;
    height: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 12px;
    padding: 0.3rem;
    font-size: 1.2rem;
    text-shadow: none;
    border-style: none;
    background-color: #20547e;
}

.nickname-input-cls:focus, .answ-button:focus, .nick-submit-cls:focus{
    outline-width: 0;
    background-color: #20547e;
}

.main-container-cls{
    text-align: center;
    margin: 3rem;
    margin-top: 0.7rem;
    padding: 1.3rem 2rem 3rem 2rem;
    border-radius: 10px;
}

.header01-cls, .question-block-cls, .answ-sect-cls, .gamestarter-box-cls{
    text-align: center;
    padding: 1rem;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 60%;
}

.header01-cls, .end-container-cls{
    background-color: rgba(255,216,76,0.4);
    backdrop-filter: blur(5px);
}

.question-block-cls, .score-viewing-block-cls, .end-container-cls, .score_amt_cls{
    width: 60%;
    background-color: #3773A5;
}

.score_amt_cls{
    padding: 2rem;
    border-radius: 50%;
    width: 5%;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 2rem;
    background-color: #20547e;
}

.end-container-cls{
    text-align: center;
    padding: 2rem;
    display: none;
    margin: 0 auto;
    border-radius: 10px;
}

.score-viewing-block-cls{
    margin: 0 auto;
    padding: 2rem;
    display: none;
    border-radius: 10px;
    background-color: #20547e;
}

.answ-sect-cls, .gamestarter-box-cls{
    background-color: #00A7E1;
}

.answ-button, .nick-submit-cls{
    width: 90%;
    height: 6rem;
    font-size: 1.2rem;
    margin: 0.7rem auto 0.7rem auto;
    border-radius: 10px;
    border-style: none;
    background-color: #3773A5;
}

.nick-submit-cls{
    width: 50%;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(32,84,126,0) 0%, rgba(32,84,126,0.6931723372942927) 10%, rgba(32,84,126,1) 25%, rgba(32,84,126,1) 50%, rgba(32,84,126,1) 75%, rgba(32,84,126,0.7239846622242647) 91%, rgba(32,84,126,0) 100%);
}

.nick-submit-cls:active{
    background: linear-gradient(90deg, rgba(47, 147, 179,0) 0%, rgba(47, 147, 179,0.6931723372942927) 10%, rgba(47, 147, 179,1) 25%, rgba(47, 147, 179,1) 50%, rgba(47, 147, 179,1) 75%, rgba(47, 147, 179,0.7239846622242647) 91%, rgba(47, 147, 179,0) 100%);
}

.answ-button:hover{
    background-color: #5893c3;
}

.answ-button:active{
    background-color: #20547e;
}

.duration-viewing-cls{
    background-color: #20547e;    
    text-align: center;
    font-size: 2rem;
    width: 10rem;
    margin: 1rem auto 1rem auto;
    padding: 0.5rem;
    display: none;
    border-radius: 10px;
}

.answ-button{
    display: none;
}

.question-block-cls{
    display: none;
}

.answ-sect-cls{
    display: none;
}

.timer-cls{
    display: none;
    font-size: 1.7rem;
    background-color: transparent;
}

@media (max-width: 700px){
    .main-container-cls{
        margin: 0.7rem;
        padding: 0.7rem;
    }
    .header01-cls, .question-block-cls, .answ-sect-cls{
        font-size: 1.5rem;
        width: 83%;
    }
    .end-container-cls{
        padding: 0.7rem;
    }
    .answ-button, .nick-submit-cls, .nickname-input-cls{
        width: 95%;
        font-size: 1.2rem;
    }
    .end-container-cls{
        width: 87%;
        margin-bottom: 0.6rem;
    }
    .score_amt_cls{
        background-color: #3773A5;
        padding: 2rem;
        border-radius: 50%;
        width: 18%;
        margin: 0 auto;
        margin-bottom: 2rem;
        font-size: 2.4rem;
    }
    .score-viewing-block-cls{
        margin-bottom: 0.6rem;
    }
}